{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Chicagos Attractions</h1>

<img class="chicago1" src="{% static '/images/navypier1.jpg' %}">

<ol>
    <H3>Navy Pier</H3>
    
    First named Municipal Pier, Navy Pier changed its name from Municipal Pier in 1927 to honor the veterans of WWI. Navy Pier was built in 1916 to assist the public in having some sort of recreational fun. There was another park in Chicago that also planned to help bring recreation to the public and bring newcomers to Chicago, this place being called the White City. It had early sucess but didnt achieve the longevity that Navy Pier has had.


</ol>

<br>

<img class="chicago1" src="{% static '/images/bean1.jpg' %}">

<ol><h3>The Bean</h3>

Formally known as "Cloud Gate", the Bean has gotten its nickname by.... its shape. It is a huge metalic bean that can be found in Millennium Park. The Sculpor, Sir Anish Kapoor made it in 2004, but was  fully completed in 2006. Its a beautful sight to see as you can get a look of the Chicago skyline within the metalic bean. As this has become a huge tourist attraction, many people try to post pictures and touch the bean. Due to this, cleaners come and clean the smudges off the bean every morning and every night.

</ol>

<br>
<br>


{% endblock %}