
{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Fun Facts About Chicago</h1>

<img class="chicago1" src="{% static '/images/lakeshore.jpeg' %}">

<ul> <h3>Did you know?</h3>


    <li>Chicago was first declared a City in 1837</li>
    <li>Chicago had the first off the ground railroads, which we now called the L.</li>
    <li> Chicago was named after the wild onions that were found growing near the Chicago River</li>
    <li>The first permanent settler in Chicago was JEan Baptiste Point du Sable</li>
    <li>The Chicago fire occured in 1871. The rubbish that came from the destroyed buildings were placed into the Lake to extend the land at Grant Park.</li>
    <li>The First ever McDonalds restuarant open in Chicago in 1955</li>
    <li>Route 66 starts infront of the Art Institute</li>
    <li>The Worlds First Ferris wheel was built for the Worlds Columbian Exhibition in Chicago in 1893. That ferris wheel was torn down in 1905, but a bigger replica was made for Navy Pier</li>
    <li>1962 was the first year Chicago dyed it River green for Saint Patricks Day</li>
    <li>Chicago had a polution issue in its beginning. Waste and sewage from the surround homes and businesses would get into the Chicago river and in thee Lake (which was their source for drinking water). This dirty water lead to illness and disease, and they know it was due to the dirty water. So, the solution they came up with was to reverse the flow of the Chicago river. By reversing the flow of the river, it would prevent the waste from getting into the Lake. In 1900, the city began making a new canal to connect the Chicago River to the Des Plaines River to the Illinois River and then into the Mississippi River.  </li>


<br>
<br>

</ul>

{% endblock %}