{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1> History Of Chicago </h1>

<img class="chicago1" src="{% static '/images/skyline1.jpg' %}">

<ol><h3>Early Chicago</h3>

    Chicago got its name from the native american word for wild onions as they were found all across the Chicago River. Chicago in its early years was a quality vantange point due to its position being on the Lake and due to it being in the middle of the US. Chicago was established and recognised by the Sate of Illinois in 1833. It population were merely 200, but when it establishment  of being a city in 1837, the population boomed to over 6,000. Due to the rapid growth, new setterlers brought their businesses to this city, and this allowed for the economy to grow just as fast as its population.

    

    </ol>

    <ol><h3>1900's</h3>

        Chicago in the 1900's saw alot of civil unrest. This era was know as the Progressive era. From unfair labor laws, prohibition, womens suffrage, and on top of it all the fight against racism. Progressivism in Chicago had many groups, but the city’s most successful group in bringing reform within the city were called the Municipal Voters League. Chicago and Illinois as a whole was regarded as one of the most progressive states due to the laws they passed to projected women and children during that time. And they as came about due to the protest of its citizens seeking better lives overall.
        
        </ol>


    <ol class="last"><h3>Present Day</h3>

        Chicago is the third largest City in the United States. We are known for its beautiful skyline, corrupt politicians, our love of sports, food, and deep rooted cultrual that expands all across the US. 
        
        </ol>

        <br>
        <br>

{% endblock %}